<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3DVisUploader</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#rotate").on({
                mouseenter() {
                    $(this).addClass("logo");
                },
                animationend() {
                    $(this).removeClass("logo");
                },
                
                // Connect to the WebSocket server using Socket.IO
                var socket = io.connect('http://' + document.domain + ':' + location.port);

                // WebSocket connection established
                socket.on('connect', function() {
                    console.log('WebSocket connected!');
                });

                // Listening for messages from the server
                socket.on('message', function(msg) {
                    var $newMessage = $('<li>').text(msg);
                    $('#messages').append($newMessage);
                });

                // Send message when the button is clicked
                $('#sendBtn').on('click', function() {
                    var message = $('#message').val();
                    socket.send(message);
                    $('#message').val('');  // Clear the input field after sending
                }), 
            }); 
        });
    </script>
</head>
<body>
    <div class="bg"></div>
    <img id="rotate" src="{{ url_for('static',filename='3DVis-transparent.png') }}">
    <div class="vertical">
        <div class="horizontal relative">
            <h1>INSTRUCTIONS</h1>
            <div class="inner">
                <p>
                    This application is used to import 3D models into the 3DVis application.
                    <br><br>
                    It also converts models into the correct file format for 3DVis (.gltf).
                    <br><br>
                    Use the import object button to import a single 3D model.
                    <br><br>
                    Use the import all from folder to import all 3D models in a folder. This will also search recursively through any sub-folders in the folder for 3D models.
                    <br><br>
                    Check the command prompt window to see upload progress and errors.
                </p>
                <div class="flex-parent jc-center">
                    <form action="{{ url_for('import_file') }}" class="margin-right" method="post">
                        <button type="submit">IMPORT OBJECT</button>
                    </form>

                    <form action="{{ url_for('import_directory') }}" method="post">
                        <button type="submit">IMPORT ALL FROM FOLDER</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
