<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3DVisCompanion</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="{{ url_for('static', filename='tab.js') }}" defer></script>
</head>
<body>
    <ul class="tabs">
        <li data-tab-target="#import" class="active tab">Import</li>
        <li data-tab-target="#model_management" class="tab">Model Management</li>
        <li data-tab-target="#scene_management" class="tab">Scene Management</li>
    </ul>
    <div class="bg"></div>
    <img id="rotate" src="{{ url_for('static',filename='3DVis-transparent.png') }}">
    <p id="status"></p>
    <div class="tab-contents">

        <div id="import" data-tab-content class="active">
            <div class="vertical">
                <div class="horizontal relative">
                    <div class="nice">
                        <h1>INSTRUCTIONS</h1>
                        <div class="inner">
                            <p>
                                This application is used to import 3D models into the 3DVis application, as well as renaming and deleting 3DVis' models and scenes.
                                <br><br>
                                When importing a model, it also converts it into the correct file format for 3DVis (.gltf).
                                <br><br>
                                The conversion uses blender under the hood. Some models downloaded from online sources are incompatible with blender, these will also be incompatible with 3DVis.
                                <br><br>
                                Use the import object button to import a single 3D model.
                                <br><br>
                                Use the import all from folder to import all 3D models in a folder. This will also search recursively through any sub-folders in the folder for 3D models.
                                <br><br>
                                Check the command prompt window to see upload progress and errors.
                            </p>
                            <div class="flex-parent jc-center">
                                <form action="{{ url_for('import_file') }}" class="margin-right" method="post">
                                    <button type="submit" id="importButton">IMPORT OBJECT</button>
                                </form>
            
                                <form action="{{ url_for('import_directory') }}" method="post">
                                    <button type="submit" id="importAllButton">IMPORT ALL FROM FOLDER</button>
                                </form>
                            </div>
                        </div>
                        <div class="settings-container">
                            <label for="cameraSensitivity">Camera Sensitivity: <span id="cameraSensitivityValue">0.5</span></label>
                            <input type="range" id="cameraSensitivity" min="0.1" max="1" step="0.01" value="0.5" oninput="$('#cameraSensitivityValue').text(this.value)">

                            <label for="movementSpeed">Movement Speed: <span id="movementSpeedValue">0.5</span></label>
                            <input type="range" id="movementSpeed" min="0.1" max="1" step="0.01" value="0.5" oninput="$('#movementSpeedValue').text(this.value)">

                            <label for="positionSpeed">Position Speed: <span id="positionSpeedValue">0.5</span></label>
                            <input type="range" id="positionSpeed" min="0.1" max="1" step="0.01" value="0.5" oninput="$('#positionSpeedValue').text(this.value)">

                            <label for="rotationSpeed">Rotation Speed: <span id="rotationSpeedValue">0.5</span></label>
                            <input type="range" id="rotationSpeed" min="0.1" max="1" step="0.01" value="0.5" oninput="$('#rotationSpeedValue').text(this.value)">

                            <label for="scaleSpeed">Scale Speed: <span id="scaleSpeedValue">0.5</span></label>
                            <input type="range" id="scaleSpeed" min="0.1" max="1" step="0.01" value="0.5" oninput="$('#scaleSpeedValue').text(this.value)">

                            <label for="renderDistance">Render Distance: <span id="renderDistanceValue">5000</span></label>
                            <input type="range" id="renderDistance" min="1000" max="10000" step="1" value="5000" oninput="$('#renderDistanceValue').text(this.value)">

                            <label>
                                <input type="checkbox" id="invertCameraControls">
                                Invert Camera Controls
                            </label>

                            <label>
                                <input type="checkbox" id="hideControls">
                                Hide Controls
                            </label>

                            <button id="saveButton">Save Settings</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="model_management" data-tab-content>
            <div class="vertical">
                <div class="horizontal relative">
                    <div class="nice">
                        <div class="corners">
                            <div class="inner">
                                <h1>MODELS</h1>
                                <div id="modelsFilterInput">
                                    <input type="text" title="No double quotes are allowed" id="modelnamefilter" class="filter" placeholder="NAME FILTER"></input><br>
                                    <input type="text" class="filter" placeholder="CATERGORY FILTER"></input>
                                </div>
                                <div>
                                    <table id="modelsTable">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Category</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Rows will be populated here -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="scene_management" data-tab-content>
            <div class="vertical">
                <div class="horizontal relative">
                    <div class="nice">
                        <div class="corners">
                            <div class="inner">
                                <h1>SCENES</h1>
                                <div id="scenesFilterInput">
                                    <input type="text" id="scenenamefilter" class="filter" placeholder="NAME FILTER"></input><br>
                                    <input type="text" id="scenecategoryfilter" class="filter" placeholder="CATERGORY FILTER"></input>
                                </div>
                                <table id="scenesTable">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Category</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Rows will be populated here -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
