@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

:root {
    --dark: #0F1111;
    --white: #FFF;
    --red: #E5373A;
    --blue: #3758A4;
}

@keyframes bg-scrolling {
    0% { background-position: 0px 0px; }
    100% { background-position: -1920px -1080px; }
}

html {
    font-family: "Nunito", sans-serif;
    overscroll-behavior: none;
    scrollbar-width: none;
    color: var(--dark);
    font-size: 1.25em;
    font-weight: 700;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    padding: 0;
    margin: 0;
}

.bg {
    animation: bg-scrolling 60s linear infinite;
    background-image: url('Grid.png');
    background-size: 900px;
    height: 100vh;
    width: 100vw;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tab {
    transition: transform 0.05s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    filter: drop-shadow(0px 0px 5px var(--dark));
    box-shadow: inset 0 0 0 4px var(--dark);
    background-color: var(--white);
    justify-content: center;
    box-sizing: border-box;
    border-radius: 20px;
    align-items: center;
    padding: 0.5em 1em;
    text-align: center;
    margin: 0 10px;
    font-weight: 800;
    cursor: pointer;
    display: flex;
    flex: 1;
}

.tabs {
    justify-content: space-around;
    list-style-type: none;
    text-align: center;
    font-size: 1.25em;
    padding: 0.5em 0;
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 10;
    margin: 0;
}

.tab:hover {
    background-color: var(--red);
    transform: translateY(-7px);
    color: var(--white);
}

.tab.active {
    background-color: var(--blue);
    color: var(--white);
}

#status:not(:empty) {
    background-color: var(--dark);
    color: var(--white);
    position: fixed;
    font-size: 2em;
    padding: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    top: 40%;
}

#status:empty {
    display: none;
}

.horizontal:not(h1) {
    margin: auto;
    width: 50%;
}

.vertical {
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    top: 55%;
}

.inner {
    box-shadow: 0px 0px 0px 20px var(--dark);
    align-content: center;
    border-radius: 10px;
    background: var(--white);
    overflow: auto;
    height: 60vh;
    padding: 1em;
    margin: 0;
}

.relative {
    position: relative;
}

.nice {
    filter: drop-shadow(-25px 25px var(--blue));
    border: 30px solid var(--dark);
    width: 100%;
}

.corners {
    background: var(--white);
    border-radius: 10px;
}

h1 {
    background: var(--dark);
    display: inline-block;
    color: var(--white);
    position: absolute;
    padding: 4px 20px;
    font-weight: 800;
    top :-118px;
    left: -30px;
}

button {
    transition: background-color 0.3s ease-in, color 0.3s ease-in, filter 0.1s ease-in, transform 0.1s ease-in;
    filter: drop-shadow(-10px 10px var(--red));
    font-family: "Nunito", sans-serif;
    background-color: var(--dark);
    border: 3px solid var(--dark);
    font-optical-sizing: auto;
    text-decoration: none;
    display: inline-block;
    font-style: normal;
    text-align: center;
    padding: 1em 2em;
    font-weight: 800;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1em;
    color: var(--white);
}

button:hover {
    background-color: var(--white);
    color: var(--dark);
}

button:active {
    transform: translateX(-8px) translateY(8px);
    filter: drop-shadow(-2px 2px var(--red));
}

table {
    filter: drop-shadow(-5px 5px var(--red));
    border-collapse: collapse;
    margin-bottom: 1.5em;
    text-align: left;
    font-size: 1em;
    width: 100%;
}

th, td {
    border: 2px solid var(--dark);
    padding: 12px 15px;
}

th {
    background-color: var(--dark);
    text-transform: uppercase;
    color: var(--white);
    font-weight: 800;
}

td {
    background-color: var(--white);
    color: var(--dark);
}

.filter {
    border: 2px solid var(--dark);
    width: calc(100% - 20px);
    margin-bottom: 1em;
    border-radius: 5px;
    padding: 8px;
}

input {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    color: var(--dark);
    font-size: 1em;
}

.settings-container {
    border: 5px solid var(--white);
    padding: 20px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Change to equal width columns */
    gap: 15px; /* Gap between label and input elements */
}

.setting-item {
    background-color: var(--dark); /* Dark background color for each setting */
    padding: 15px; /* Padding for spacing inside the box */
    box-shadow: -10px 10px var(--red); /* Red drop shadow */
    margin-bottom: 15px; /* Space between each setting box */
}

.settings-container label {
    display: flex;
    justify-content: flex-start; /* Align label content to the left */
    align-items: center;
    font-size: 1em;
    color: var(--white);
    text-transform: uppercase;
}

.settings-container input[type="range"], 
.settings-container select {
    width: 100%; /* Make inputs take the full width of their grid column */
    padding: 5px; /* Add some padding for better appearance */
    border: 3px solid var(--dark);
    background-color: var(--white);
    color: var(--dark);
    font-weight: 800;
}

.settings-container input[type="checkbox"] {
    margin-left: 10px; /* Added left margin for checkbox spacing */
    align-self: center; /* Center checkbox vertically */
}

.settings-container select {
    width: 70%; /* Adjusted width for the select input */
    margin-left: 10px; /* Gap between label and select */
    padding: 5px;
    border: 3px solid var(--dark);
    background-color: var(--white);
    color: var(--dark);
    font-weight: 800;
}

.delete-btn, .update-btn {
    filter: drop-shadow(-3px 3px var(--blue));
    padding: 0.5em 1em;
}

img {
    filter: drop-shadow(0px 0px 5px var(--dark));
    position: absolute;
    height: auto;
    width: 20%;
    max-width: 200px;
    top: 75%;
}

form.margin-right {
    margin-right: 5%;
}

.jc-center {
    justify-content: center;
}

.flex-parent {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1000px), (max-height: 875px), (orientation: portrait) {
    html {
        font-size: 0.6em;
    }
    
    .tab {
        width: 80%;
        margin: 5px 0;
    }

    #status {
        font-size: 1.5em;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
    }

    img {
        display: none;
    }

    .inner {
        box-shadow: 0px 0px 0px 10px var(--dark);
    }

    .nice {
        filter: drop-shadow(-12px 12px var(--blue));
        border: 15px solid var(--dark);
    }

    button {
        filter: drop-shadow(-5px 5px var(--red));
    }

    button:active {
        transform: translateX(-4px) translateY(4px);
        filter: drop-shadow(-1px 1px var(--red));
    }

    h1 {
        top: -61px;
        left: -15px;
    }
}
